body {
  display: grid;
  background-image: linear-gradient(90deg, #1e1e1e 23rem, #C8C4C4 23.1rem, #131397 23.1rem, #134b97);
  grid-template-columns: 23rem 1fr;
  gap: 20px;
  grid-template-areas: "aside main";
}
body header, body .social-media, body .menu-index {
  grid-area: aside;
  position: absolute;
}
body .menu-index {
  background-color: transparent;
  border: initial;
  width: 23rem;
  top: calc(100vh/4);
  bottom: 10rem;
}
body .social-media {
  padding: 20px;
  bottom: 0;
}
body main {
  grid-area: main;
}
body .menu {
  display: inline-block;
}
body .menu .menu__list {
  padding-top: 20px;
  padding-left: 20px;
  height: auto;
  width: auto;
  display: block;
}
body .menu .menu__link {
  border: none;
}
body .menu .menu__link span {
  display: inline-block;
  font-size: 2rem;
  margin-left: 10px;
}