* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625rem;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#131397, #134b97);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #C8C4C4;
}

.enterprise {
  padding: 20px;
  display: flex;
  height: auto;
}
.enterprise__logo {
  display: inline;
  width: 70px;
  height: 70px;
}
.enterprise__name {
  display: inline;
  font-family: "Roboto Slab", serif;
  margin: auto auto auto 10px;
  color: #C8C4C4;
  font-size: 2.4rem;
}

.menu-index {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
  border-top: 1px solid #C8C4C4;
  box-sizing: border-box;
  z-index: 9;
}

.menu {
  display: flex;
  height: 6rem;
  list-style-type: none;
  justify-content: center;
}
.menu__list {
  display: inline-block;
  width: auto;
  padding-top: 10px;
}
.menu__link {
  padding: 20px;
  padding-top: 10px;
  font-size: 3rem;
  font-family: "Righteous", cursive;
  text-align: center;
  color: #C8C4C4;
  text-decoration: none;
}
.menu__link span {
  display: none;
}

.index-main-container {
  margin: 20px;
}
.index-main-container .index-h2 {
  margin: 20px 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 400;
}
.index-main-container .index-h2 a {
  color: #C8C4C4;
  text-decoration: none;
}

.studies__title, .hardskills__title, .idioms__title, .hobbies__title {
  padding: 10px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
}

.study, .hobbies__content {
  font-size: 1.6rem;
  line-height: 1.4em;
}

.idioms {
  text-align: center;
}
.idiom {
  display: inline-block;
  width: 5rem;
  padding: 10px;
  text-align: center;
  justify-content: space-evenly;
  image-rendering: auto;
  border-radius: 50%;
}
.idiom__img {
  width: 100%;
  border-radius: 50%;
}
.idiom p {
  font-size: 1.4rem;
}

.hardskills {
  text-align: center;
}
.program {
  margin-top: 10px;
  padding: 1.6rem;
  display: inline-block;
  text-align: center;
}
.program i {
  padding: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #1e1e1e;
}
.program i span {
  display: block;
  font-size: 1.4rem;
}

/* --- about end */
/* --- projects Start */
.main-projects {
  padding: 20px;
}
.main-projects .main-h1 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto Slab", serif;
}

.btn-container .btn__page-link, .btn-container .btn__code-link {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  width: 50%;
  padding: 5px;
  border: 1px solid #C8C4C4;
  border-radius: 10px 0 0 0;
  color: #C8C4C4;
  background-color: #1e1e1e;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
}
.btn-container .btn__page-link i, .btn-container .btn__code-link i {
  margin: 0 10px;
  font-size: 1.4rem;
}
.btn-container .btn__code-link {
  border-radius: 0 10px 0 0;
}
.btn-container .btn__code-link i {
  margin-left: 10px;
  font-size: 1.4rem;
}

.project:hover .project__img {
  opacity: 10%;
  z-index: 2;
  transition: 600ms ease;
}

.project {
  margin-bottom: 20px;
  padding-bottom: 2rem;
  box-sizing: border-box;
  background-color: #1e1e1e;
  border: 1px solid #C8C4C4;
  border-radius: 0 0 10px 10px;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 85%;
}
.project__img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
  z-index: 4;
}
.project__description-title {
  position: relative;
  margin: 10px 0;
  padding: 0 10px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.8rem;
  z-index: 3;
}
.project__description-text {
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 1.6rem;
  line-height: 1.4em;
  z-index: 3;
}
.project__tech {
  position: relative;
  margin: 5px;
  float: right;
  text-shadow: 2px 2px 2px #1e1e1e;
  border-radius: 50%;
  font-size: 1rem;
  z-index: 3;
}

/* --- Projets end */
/* --- Contact Start */
.main-contact {
  margin: 20px;
}

.contact-form label {
  display: block;
  margin-top: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
}
.contact-form input, .contact-form .btn-contact {
  width: calc(100% - 20px);
  height: 40px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #C8C4C4;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  opacity: 30%;
}
.contact-form #comment {
  height: 80px;
}
.contact-form .btn-contact {
  width: 100%;
  margin-top: 20px;
  font-family: "Righteous", cursive;
  font-size: 2.4rem;
  background-color: #25B2EF;
  color: black;
  opacity: 0.7;
}

/* --- Contact end */
/* ---------------- Footer start */
.social-media {
  margin: 0 0 0 20px;
  padding: 0;
  padding-bottom: 7rem;
}
.social-media a {
  margin-right: 20px;
  display: inline;
  text-decoration: none;
}
.social-media a i {
  color: #C8C4C4;
  font-size: 4rem;
  line-height: 30px;
}
.social-media a i span {
  display: block;
}

.resume {
  width: 100vw;
  padding: 0 20px;
  box-sizing: border-box;
}

.about-me {
  position: relative;
  width: auto;
}
.about-me__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
}
.about-me__portrait {
  width: 70%;
  margin: 10px calc(50vw - 130px);
  border-radius: 20px;
}
.about-me__name {
  font-size: 2.4rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.about-me__charge {
  display: block;
  margin: 0 0 10px;
  font-size: 1.4rem;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.about-me__description {
  font-size: 1.6rem;
  line-height: 1.4em;
}