

:root{
  /* ------ Backgrond */
  --backg-color: hsla(0, 0%, 0%, .75);
  --backcont-color: hsla(0, 0%, 100%, 0.8);
  --backhs-color: hsla(240, 50%, 50%, 0.5);
  --headfoot-color: hsla(240, 50%, 50%, 1);

/* ----------Shadow Box */
  --shadow-primary: hsla(240, 100%, 50%, 1);
  --shadow-secondary: hsla(199, 100%, 16%, 1);

}
/* ---------- Main Css */

html, body {
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backg-color);
  color: var(--backcont-color);
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
}
.hero h1:hover {
  text-shadow: 1px 1px 50px hsla(20, 100%, 50%, 1)
}

/* --------------Header start */

header {
  margin-bottom: 20px;
  border-top: 2px solid var(--headfoot-color);
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 170px;
  grid-template-areas: "Portfolio About-Me Portail";
}
.portfolio {
  display: flex;
  padding: 5px;
  position: absolute;

}
.portfolio .icon-menu1 {
  display: flex;
  font-size: 30px;
}
.portfolio .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-area: Portfolio;
}
.portfolio .list a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

.about-me {
  grid-area: About-Me;
  font-size: 1.8em;
  color: var(--backcont-color);
}

header p {
  margin:10px auto 0;
}

.name {
  font-weight: 600;
  text-align: center;
}
.about-me strong{
  font-size: 1.1em;
  font-weight: 900;
}
header hr {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
.position{
  text-align: center;
  font-weight: 300;
}
.me {
  max-width: 500px;
  font-size: .7em;
}
header img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20%;
  grid-area: Portail;
  box-shadow: -4px 4px 4px 4px var(--headfoot-color);
}

/* --------------- Hero start */

.hero {
display: grid;
gap: .5em;
margin: auto;
width: 95%;
grid-template-columns: 59% 40%;
grid-template-areas:  "studies idioms"
                      "studies hardskills"
                      "hobbies softskills";
}
.hero h1{
  margin: 0em 10px 0px 0px;
  padding: 5px 10px;
  font-size: 1.5em;
  border:1px solid var(--headfoot-color);
  background-color: var(--backhs-color);
  box-shadow: 0px 0px 2px 2px var(--headfoot-color);
}
.hero p {
  padding: 0px 10px;
}
.hero hr{
  margin: auto 5px;
  width: 90%;
}
.hero ul {
  list-style-type: none;
}
.studies {
  grid-area: studies;
}
.idioms{
  grid-area: idioms;  
}
.idioms .idioms-container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.idioms div{
  display: inline-block;
}
.idioms .espanol {
  width: 100px;
  height: 100px;
  padding: 10px 10px 0;
  image-rendering: auto;
  border-radius: 50%;
}
.idioms .english {
  width: 100px;
  height: 100px;
  padding: 10px 10px 0;
  image-rendering: auto;
  border-radius: 50%;
}
.softskills{
  grid-area: softskills;
}
.hardskills{
  grid-area: hardskills;
}
.hardskills p{
  display: inline-block;
  margin-top: 30px;
}

.hardskills .hardskills-container {
  text-align: center;
}
.hardskills .hardskills-container .icon-html5 {
  font-size: 80px;
  border-radius: 50%;
  padding: 15px;
}
.hardskills .hardskills-container .icon-css3 {
  font-size: 80px;
  border-radius: 50%;
  padding: 15px;
}
.hardskills .hardskills-container .icon-javascript {
  font-size: 80px;
  border-radius: 50%;
  padding: 15px;
}
.hardskills .hardskills-container .icon-github {
  font-size: 80px;
  border-radius: 50%;
  padding: 15px;
}

.hobbies{
  grid-area: hobbies;
}

/* ---------------- Footer start */

footer{
  border-top: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30px;
}
footer i {
  line-height: 30px;
  margin: auto 0px;
  padding-left: 10px ;
}
footer a {
  color: var(--backcont-color);
  margin: auto 0px;
  text-decoration: none;
}
footer i:hover {
  text-shadow: 0px 0px 4px var(--shadow-primary);
}
footer a:hover {
  text-decoration: underline;
}

/* --------- Media Queries */

@media screen and (max-width: 426px){
  
  /* ------- Header */
  header{
    grid-template-columns: 1fr;    
    margin-bottom: 10px;
  }
  header .about-me{
    font-size: 24px;
  }
  /* ------- Main hero */
  .hero {
    display: block;
    margin-top: 20px;
  }
  /* ------- Footer */

  footer{    
    grid-template-columns: repeat(2, 1fr);
  }
   
}

@media screen and (max-width: 320px){
  
  /* ------- Header */
  header{
    display: block;
  }
  header img {
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: none;
  }
  /* ------- Footer */

  footer{    
    grid-template-columns: 1fr;
  }
  
}