.resume {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-areas: "about about" "hobbies idioms" "hobbies hard" "hobbies hard";
}

.about-me {
  grid-area: about;
}
.about-me div {
  padding: 20px;
}
.about-me__portrait {
  display: inline-block;
  margin: 20px;
  height: 20rem;
  width: 15rem;
}

.hobbies {
  grid-area: hobbies;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.projects .projects-container {
  margin: 0;
  padding: 0;
}

.project {
  margin-bottom: 0;
}