@import '../components/variables';
@import '../components/mixins';
@import '../components/globals';
@import '../components/headers';
@import '../components/menus';
@import '../components/mains';
@import '../components/footers';

