extend ./components/template.pug
block content
	main.box--container
		+box(imgs[3],'github.com','github.com', {title:'titulo', description:'descripcion del proyecto elabaorado en la imagen para mayor comprencion del mismo'})
		+box(imgs[3],'github.com','github.com', {title:'titulo', description:'descripcion del proyecto elabaorado en la imagen para mayor comprencion del mismo'})
		+box(imgs[3],'github.com','github.com', {title:'titulo', description:'descripcion del proyecto elabaorado en la imagen para mayor comprencion del mismo'})

