// --- Index - START 
.box--container{
	width: 90%;
  justify-content: space-evenly;
}

// /* HEADER - About me */
.resume {
	display: grid;
	gap: $spacing;
	margin: auto;
	padding: 0 $spacing;
	grid-template-columns: 50% 45%;
	grid-template-areas: "about about"
                        "studies idioms"
												"studies hardskills"
												"hobbies softskills";
}

.about-me {
	width: auto;
	display: flex;
	text-align: center;
	grid-area: about;
	&__description{
		width: 50%;
		font-size: 2rem;
		line-height: 2.5rem;
	}
	// &__charge{
	// }
	&__picture{
		height: 30vw;
	} 
}
.studies {
	// width: auto;
	grid-area: studies;
	&__title{
		font-size: 2.5rem;
	}
}	
.study{
	font-size:1.7rem ;
	// &__date {		
	// }
	// &__degree {		
	// }
	// &__institute {		
	// }
	// &__place {		
	// }
	// hr {
	// }
}
.hobbies {
	grid-area: hobbies;
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	&__content {
		@extend .study;
	}
} 
.idioms {
	grid-area: idioms;
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	&__content {
		@extend .study;
	}
}
.hardskills {
	grid-area: hardskills;
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	&__content {
		@extend .study;
	}
}
.softskills {
	grid-area: softskills;
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	&__content {
		@extend .study;
	}
}

/* --- resume end */
