/* MENU - START */
.menu-container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0;
  text-align: end;
}
.menu{
  display: inline-flex;
  width: auto;
  margin: $spacing*.5 auto;
  padding: 0;
  background-color:initial;
  border:initial;
  border-radius:initial;
  position:initial;
  li + li {
    border-top: initial;
  }
  &__list{
    padding-right: $spacing;
    letter-spacing: $font-size * 0.1;
    a{
      &:hover{
        color: $color-variation;
        border-bottom: 3px solid $color-secondary;
        transition: ease 300ms;
      }
    }
  }
}

// --- MENU - FIN 