// --- Index - START 
.box--container{
  margin: $spacing auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box {
	display: inline-block;
	position: relative;
	margin: $spacing auto;
  justify-content: space-evenly;
  text-align: center;
  border-radius: $spacing;
	width: $font-size*25;
	// z-index: 1;
  // height: $font-size*15;
  background-color: rgba($color: $color-primary, $alpha: .5);
  box-shadow: 0px 0px 10px 0px $color-primary;
  &__page-link{
		font-size: 1.5rem;
		display: inline-block;
		box-sizing: border-box;
    width: 40%;
    margin: 3px auto;
    padding: 2px;
    color: $bg-color;
    border-radius: $spacing*.75;
    text-align: center;
    text-decoration: none;
    &:hover{
      border: 1px solid rgba($color: $bg-color, $alpha: .5);
      border-bottom: 2px solid rgba($color: $bg-color, $alpha: .5);
      border-right: 3px solid rgba($color: $bg-color, $alpha: .5);
    }
  }
  &__code-link{
    @extend .box__page-link;
  }
  &__img{
		width: 100%;
		z-index: 1;
		&:hover{
			transition: ease;
			opacity: .3;
		}
	}
	&__description-title{
		font-size: 2rem;
		position: absolute;
		top: $spacing;
		right: $spacing;
		left: $spacing;
		z-index: 0;
	}
	&__description-text{
		@extend .box__description-title;
		font-size: 1.5rem;
		top: $spacing*2.5;
	}
}

// --- Index - FIN

// /* HEADER - About me */

.about-me {
	text-align: center;
	margin: 0 auto;
	width: 80%;
	&__charge{
		font-size: .8em;
		display: block;
		font-family: $font-primary;
		text-align: center;
		font-weight: 300;
	}
	&__description{
		margin: $spacing auto;
		font-size: 1.5rem;
	}
	&__picture{
		margin: 0 auto;
		width: auto;
		max-height: 70vw;
		border-radius: 20px;
		box-shadow: 0px 0px 5px 2px $color-variation;
	} 
}
.studies {
	width: 90%;
	margin: $spacing auto;
	&__title{
		text-align: center;
		margin: $spacing*.5 auto;
		font-family: $font-primary;
		padding: $spacing*.5;
		font-size: 2rem;
		border: 1px solid $color-variation ;
		border-radius: $spacing;
		box-shadow: 0px 0px 2px 2px $color-variation;
		text-shadow: 4px 2px 8px $color-primary;
	}
}	
.study{
	font-size:1.5rem ;
	padding: 0px $spacing;
	// &__date {		
	// }
	// &__degree {		
	// }
	// &__institute {		
	// }
	// &__place {		
	// }
	hr {
		margin: 5px;
		width: 90%;
	}
}
.hobbies {
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	&__content {
		@extend .study;
	}
} 
.idioms {
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
}
.idiom{
	display: inline-block;	
	width: 7rem;
	height: 7rem;
	padding: $spacing*.5;
	text-align: center;
	justify-content: space-evenly;
	image-rendering: auto;
	border-radius: 50%;
	&__img{
		width: 100%;
		border-radius: 50%;
	}
	p {
		font-size: 1.5rem;
	}
}
.hardskills {
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
}
.program {
	display: inline-block;
	margin-top: $spacing.5;
	i {
		font-size: 6rem;
		border-radius: 50%;
		padding: $spacing;
	}
}
.softskills {
	@extend .studies;
	&__title{
		@extend .studies__title;
	}
	p {
		padding-left: $spacing;
		font-size: 1.5rem;
	}
}

/* --- resume end */
