// --- Font Family ---//
$font-primary: 'Roboto Slab', serif;
$font-secondary: Arial, Helvetica, sans-serif;
// $font-secondary: 'Oswald', sans-serif;
// $font-secondary: 'Courier New', Courier, monospace;
// $font-secondary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// $font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// $font-secondary: 'Times New Roman', Times, serif;
// $font-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// --- Spacing ---//
$spacing: 20px;
$transition: 300s;
$border-radius: 20px;
// --- Font SIZE ---//
$font-size: 1rem;
// --- Backgrond --- //
$bg-color: hsl(0, 0%, 10%);
// --- Text color --- //
$color-primary: hsl(0, 0%, 100%);
$color-secondary: hsl(240, 100%, 50%);
$color-variation: hsl(240, 100%, 70%);