footer.footer.footer--basic.fadeInUp
	a( href="https://facebook.com/Davesro" target="_blank"): i.icon-facebook.link  Facebook
	a(href="https://bit.ly/2vW8Hpe" target="_blank"): i.icon-linkedin.link  Linkedin
	a(href="https://github.com/DavidEspinozaRomero" target="_blank"): i.icon-github  Github
	i.icon-whatsapp  Teléfono
	i.icon-gmail  @gmail.com
	i.icon-location  Tungurahua - Ecuador
	i.icon-home  Dirección

