-const menuText = ['Portfolio', 'About me', 'Contact']
-const imgUrl = 'img/'
-const imgs = ['img.png', 'About me', 'Contact', 'bandera-ecuador.jpg']
//- -const data = [firtsname: 'david emanuel',
//-   lastname: 'espinoza romero',
//-   job: 'frontend web developer',
//-   aboutme: 'autodidacta, proactivo y creativo, me gusta trabajar en equipo y aprender nuevas tecnologías e investigar.',
//-   colege = {name: 'Colegio Nacional “Picaihua”',
//-   date: '10/07/2002 – 6/072010',
//-   charge: 'Técnico en Comercio y Administración',
//-   place: 'Ambato - Ecuador'
//-   }
//-   university = {name:'Universidad Técnica de Ambato',
//-   date: '2015 - 2016',
//-   charge: 'Ing. Sistemas computacionales e Informáticos',
//-   place: 'Ambato - Ecuador'
//-   }
//-   otherStudies = {name:'Platzi',
//-   date: '2019 - 2020',
//-   charge: 'Crecimiento Profesional, Desarrollo e Ingeniería, Ingles.',
//-   place: 'Online'
//-   }
//-   hobies = {read: 'Tecnología, Apicultura, Programación.',
//-   projects: 'Bee’s Touch',
//-   description: 'Empresa fomentada a la venta de productos de las colmenas de abejas y a realizar conciencia social sobre la importancia de las mismas.',
//-   'videogames'
//-   }
//-   idioms = {'Español', 'English'}
//-   hardskills = {'html', 'css', 'javascript', 'git', 'github', 'pug', 'sass'
//-   }
//-   softskills = {'Liderazgo', 'Resiliencia', 'Comunicación Verbal/Escrita'
//-   }
//- ]