// /* HEADER - INDEX */

.enterprise{
  padding: $spacing;
  display: flex;
  height: auto;
  &__logo{
    display: inline;
    width: 70px;
    height: 70px;
  }
  &__name{
    display: inline;
    font-family: $font-secondary;
		margin: auto auto auto $spacing*.5;
    color: $color-primary;
    font-size: 2.4rem;
  }
}

// /* HEADER - INDEX END*/
