.menu-index{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #0A0A6D;
  border-top: 1px solid $color-primary;
  box-sizing: border-box;
  z-index: 9;
}

.menu{
	display: flex;
  height: 6rem;
  list-style-type: none;
  justify-content: center;
  &__list{
    display: inline-block;
    width: auto;
    padding-top: $spacing*.5;
  }
  &__link{
    padding: $spacing;
    padding-top: $spacing*.5;
    font-size: 3rem;
    font-family: $font-menu;
    text-align: center;
    color: $color-primary;
    text-decoration: none;
    span {
      display: none;
    }
  }
}