// --- Font Family ---//
$font-menu: 'Righteous', cursive;
$font-content: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// --- Spacing ---//
$spacing: 20px;
$transition: 300s;
$radius: 20px;

// --- Font SIZE ---//
$font-size: 62.5%;

// --- Background --- //
$bg-linear-p: #131397;
$bg-linear-s: #134b97;

// --- Text color --- //
$color-primary: #C8C4C4;
$color-secondary: #1e1e1e;
$color-hov-act: #25B2EF;
