// --- Font Family ---//
$font-menu: 'Righteous', cursive;
$font-content: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// --- Spacing ---//
$spacing: 20px;
$transition: 300s;
$radius: 20px;

// --- Font SIZE ---//
$font-size: 62.5%;

// --- Background --- //
$bg-linear-p: #0A0A6D;
$bg-linear-s: #7625A7;

// --- Text color --- //
$color-primary: #C8C4C4;
$color-hov-act: #25B2EF;