
footer.social-media
	a(href='https://www.linkedin.com/in/david-emanuel-espinoza-romero-deerhou/' target="_blank"): i.icon-linkedin
	a(href="https://github.com/DavidEspinozaRomero" target="_blank"): i.icon-github
	a(href="https://facebook.com/Davesro" target="_blank"): i.icon-facebook
