extend ./components/template.pug

block head-test
	link(rel="stylesheet" href="./css/index.css")

block content
	main.index-main-container
		section.about-me
			img.about-me__picture(src="imgs/img.png" alt="foto personal")
			h2.about-me__name David Espinoza Romero
			h1.about-me__charge FRONTEND WEB DEVELOPER
			p.about-me__description
				|Se puede aprender cualquier tema que se desee con esfuerzo y perseverancia.
				| gracias a la gente que comparte sus conocimientos por medio de internet.
				|Soy autodidacta, proactivo y creativo.
				|Me gusta trabajar en equipo,
				|aprender nuevas tecnologías e investigar.

		h2.index-h2: a(href="./projects.html") Projects
		section.projects
			+project("https://i.imgur.com/hVid1Ob.png",
			'https://davidespinozaromero.github.io/MachineLearningGestionDataCenters/',
			'github.com/DavidEspinozaRomero/MachineLearningGestionDataCenters',
			{primary: 'html5', secondary:'css3' , tertiary: 'javascript'},
			{title:'Asistente de "Data Centers"', description:'Creacion de un asistente de data centers con Machine Learning usando la libreria "BrainJS" '})

			+project("https://i.imgur.com/IFbryh6.png",
			'https://davidespinozaromero.github.io/GalleriaTipoInstagram/',
			'github.com/DavidEspinozaRomero/GalleriaTipoInstagram',
			{primary: 'html5', secondary:'css3'},
			{title:'Galleria de fotos tipo Instagram', description:'Creacion de una galleria de fotos similar a instagram como practica.'})

			+project("https://i.imgur.com/1NaWnFn.png",
			'https://davidespinozaromero.github.io/DeerhouSays/',
			'github.com/DavidEspinozaRomero/DeerhouSays',
			{primary: 'html5', secondary:'css3' , tertiary: 'javascript'},
			{title:'SimonSays', description:"Simon dice el juego de memoria repitiendo lo que hace simon"})

			+project("https://i.imgur.com/JYaIGK9.png",
			'https://davidespinozaromero.github.io/infopelis/',
			'github.com/DavidEspinozaRomero/infopelis',
			{primary: 'html5', secondary:'css3' , tertiary: 'javascript'},
			{title:'PlaztiVideos', description:"Creacion de una pagina de informacion de peliculas usando Vanilla Javascript, usando una API publica"})